<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@ora1.ise.bgu.ac.il:1521:Oracle</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="connection.username">rosengal</property>
    <property name="connection.password">abcd</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="ass2.hib.Users"/>
    <mapping class="ass2.hib.ADMINISTRATORS"/>
    <mapping class="ass2.hib.History"/>
    <mapping class="ass2.hib.LoginLog"/>
    <mapping class="ass2.hib.Mediaitems"/>
    <mapping class="ass2.hib.Similarity"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
